In [10]:
#import library
import pandas as pd

In [11]:
#load the data
data = pd.read_csv('titanic.csv')

In [12]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [13]:
#Analyze missing values
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
#Handle missing values in Age by replacing values with the mean age of known values
data['Age'].fillna(data['Age'].mean(), inplace=True)

In [15]:
# Handle missing values in Cabin

# Option 1: Label encoding (Cabin presence/absence)
# Create a new column indicating the presence or absence of Cabin information
data["Cabin_presence"] = data["Cabin"].notna().astype(int)  # 1 for present, 0 for missing
data.drop("Cabin", axis=1, inplace=True)

# Option 2: Imputation using class (assuming relationship)
# Assign missing cabins based on passenger class (replace with your logic)
#data["Cabin_class"] = data["Pclass"].apply(lambda x: "A" if x == 1 else ("B" if x == 2 else "C"))
#data.drop("Cabin", axis=1, inplace=True)

In [16]:
# Encode categorical features

# Option 1: Label encoding
# Replace categorical values with unique numerical identifiers
le = LabelEncoder()
data["Sex"] = le.fit_transform(data["Sex"])
data["Embarked"] = le.fit_transform(data["Embarked"])

# Option 2: One-hot encoding manually
# Create new dummy variables for each unique category within Sex and Embarked
# (replace with your manual implementation)
# ...

# Feature engineering (optional)
# Create new features based on existing ones (e.g., family size, title)

# Scale numerical features (optional)
# Use techniques like Min-Max scaling or Z-score

# Save the cleaned and preprocessed data
#data.to_csv("titanic_processed.csv", index=False)

print("Data engineering complete!")

NameError: name 'LabelEncoder' is not defined

In [18]:
print(data['Sex'].unique())

['male' 'female' 'F' 'M']


        Handle the missing data under columns “Age” and “Cabin” by replacing the appropriate values
        Standardize the values found under column “Sex”, then apply one-hot encoding
        Create a column “Last_Name” and populate with values derived from “Name” column
        Create a column “Title” and populate with values derived from “Name” column
        Create a column “First_Name” and populate with values derived from “Name” column (do not remove values in parenthesis)